{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Login{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

  <div class="container-fluid main-area">
	  <div class="col-xs-2 side-menu">
	    <ul class="menu-eng">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>Time Windows</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>Faculty List</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>समय खिड़कियां</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>शिक्षक सूची</a></li>
        </ul>
	  </div>

	  <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;" id="material-card-1">
            <div class="col-md-7"><h3>Department Courses</h3></div>
            <div class="col-md-5">
              <div class="icon-container">
                <a href="AdminAddCourse.html" class="btn btn-green">Add New</a>
                <a id="print-icon-1"><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>

              </div>
            </div>

            <div class="col-md-12 course-list-table-container" style="overflow-y:auto;height:65vh;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Course Name</th>
                      <th>Course Code</th>
                      <th>Units</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in course_list %}
                    <tr>
                      <td>{{ course.course_name }}</td>
                      <td>{{ course.course_code }}</td>
                      <td>{{ course.units }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
      </div>

  </div>


    <div id="language-selector" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body align-center">
            <img src="{% static 'img/lang-icon.png' %}">
            <h3>Select Language</h3>
            <p><a id="lang-eng" class="btn-lang-sel">English</a><span class="or-text">OR</span><a id="lang-hindi" class="btn-lang-sel">Hindi</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
  {{ block.super }}
    <script src="{% static 'js/jQuery.print.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript">
      $("#print-icon-1").click(function(){
        $("#material-card1").print(/*options*/);
      });
    </script>
{% endblock %}