{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Set Time Windows{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

  <div class="container-fluid main-area">
	  <div class="col-xs-2 side-menu">
	    <ul class="menu-eng">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>Time Windows</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>Faculty List</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>समय खिड़कियां</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>शिक्षक सूची</a></li>
        </ul>
	  </div>

    <div class="col-xs-10 content-area">

       {% if not selection_window.start_date %}
       <div class="col-xs-12 material-card" style="height:100%;">
        <div class="col-md-7"><h4>Course Selection Window</h4></div>
        <div class="col-md-5">
          <div class="icon-container">
            <a href=""><span class="glyphicon glyphicon-print"></span></a>
            <a href="" data-toggle="tooltip" data-placement="left" title="This section can be used to set the time windows."><span class="glyphicon glyphicon-question-sign"></span></a>
          </div>
        </div>
       
        
          <form method="post" action="/dashboard/admin/time-windows/set-selection-window/">{% csrf_token %}

            <div class="col-md-6">
              <input name="course_selection_start" type="text" id="datetimepicker1" class="form-control">
            </div>
            <div class="col-md-6">
              <input name="course_selection_end" type="text" id="datetimepicker2" class="form-control">
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-green margin-top-20" value="Save Details"/>
            </div>
          </div>

          </form>
        {% endif %}


        {% if selection_window.end_date %}
        {% if not application_window.start_date %}
        <div class="col-xs-12 material-card">
        <div class="col-md-7"><h4>Course Application Window</h4></div>
        <div class="col-md-5">
          <div class="icon-container">
            <a href=""><span class="glyphicon glyphicon-print"></span></a>
            <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>
          </div>
        </div>
       
        <form method="post" action="/dashboard/admin/time-windows/set-application-window/">{% csrf_token %}

            <div class="col-md-6">
              <input name="course_application_start" type="text" id="datetimepicker3" class="form-control">
            </div>
            <div class="col-md-6">
              <input name="course_application_end" type="text" id="datetimepicker4" class="form-control">
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-green margin-top-20" value="Save Details"/>
            </div>
          </div>

          </form>
        {% endif %}
        {% endif %}




        {% if application_window.end_date %}
        {% if not assignment_window.start_date %}
        <div class="col-xs-12 material-card">
        <div class="col-md-7"><h4>Course Assignment Window</h4></div>
        <div class="col-md-5">
          <div class="icon-container">
            <a href=""><span class="glyphicon glyphicon-print"></span></a>
            <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>
          </div>
        </div>
       
        <form method="post" action="/dashboard/admin/time-windows/set-assignment-window/">{% csrf_token %}

            <div class="col-md-6">
              <input name="course_assignment_start" type="text" id="datetimepicker5" class="form-control">
            </div>
            <div class="col-md-6">
              <input name="course_assignment_end" type="text" id="datetimepicker6" class="form-control">
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-green margin-top-20" value="Save Details"/>
            </div>
          </div>

          </form>
        {% endif %}
        {% endif %}


       


    </div>
  </div>


{% endblock %}

{% block script %}
  {{ block.super }}
    <script type="text/javascript">
      $("#print-icon-1").click(function(){
        $("#material-card1").print(/*options*/);
      });



          $('#datetimepicker1').datetimepicker({
            format: 'MM/DD/YYYY'
           });
          $('#datetimepicker2').datetimepicker({
            format: 'MM/DD/YYYY'
           });
          $('#datetimepicker3').datetimepicker({
            format: 'MM/DD/YYYY'
           });
          $('#datetimepicker4').datetimepicker({
            format: 'MM/DD/YYYY'
           });
          $('#datetimepicker5').datetimepicker({
            format: 'MM/DD/YYYY'
           });
          $('#datetimepicker6').datetimepicker({
            format: 'MM/DD/YYYY'
           });




    </script>
{% endblock %}