{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Faculty List{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

  <div class="container-fluid main-area">
	  <div class="col-xs-2 side-menu">
	    <ul class="menu-eng">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>Time Windows</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>Faculty List</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>समय खिड़कियां</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>शिक्षक सूची</a></li>
        </ul>
	  </div>

	  <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;" id="material-card-1">
            <div class="col-md-7"><h3>Edit Profile - {{ faculty.first_name }} {{ faculty.last_name }}</h3></div>
            <div class="col-md-5">
              <div class="icon-container">
                <a id="print-icon-1"><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section can be used to edit the faculty profile."><span class="glyphicon glyphicon-question-sign"></span></a>
              </div>
            </div>

            <form method="post">{% csrf_token %}
            <div class="col-md-12">
              <p class="header-small">Personal details</p>
            </div>
            <div class="col-md-3">
              {{ form.firstname }}
            </div>
            <div class="col-md-3">
              {{ form.lastname }}
            </div>
            <div class="col-md-3">
              {{ form.username }}
            </div>
            <div class="col-md-3">
              {{ form.designation }}
            </div>
            <!-- <div class="col-md-6">
              {{ form.password }}
            </div>
            <div class="col-md-6">
              {{ form.password2 }}
            </div> -->
            <div class="col-md-12" id="teaching-exp">
              <p class="header-small">Teaching Experience</p>
            </div>


            <div class="col-md-12 no-padding">


                <!-- <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Expertise"> 
                </div>-->
                <div class="col-md-12">
                  {{ form.course_name }}
                </div>
                <div class="col-md-12">
                  {{ form.exp_years }}
                </div>

            </div>

            <!-- <div class="col-md-12" id="add-expertise-button">
              <a class="btn btn-blue btn-add-expertise margin-top-20" id="add-expertise"><span class="glyphicon glyphicon-plus-sign margin-right-10"></span>Add another expertise</a>
            </div> -->
          
          <div class="col-md-12" id="add-expertise-button">
            <input type="submit" class="btn btn-green margin-top-20" value="Save Details" />
          </div>
          </form>

          </div>
      </div>

  </div>

{% endblock %}

{% block script %}
  {{ block.super }}
    <script src="{% static 'js/jQuery.print.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript">
      $("#print-icon-1").click(function(){
        $("#material-card1").print(/*options*/);
      });
    </script>
{% endblock %}