{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Register{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

<div class="container-fluid main-area">
    <div class="col-xs-2 side-menu">
      <ul class="menu-eng">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>Time Windows</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>Faculty List</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>समय खिड़कियां</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>शिक्षक सूची</a></li>
        </ul>
    </div>

    <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;" id="material-card-1">
            <h1>Sorry!</h1>
            <p>You cannot access this time window. Please check back later.</p>
            <a class="btn btn-green margin-top-20" href="/home/">Home</a>
          </div>
      </div>

  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
      $(function() {
          $('#course-list').tags({
              tagData:[],
              suggestions:[],
              excludeList:[],
              promptText:"Enter course names here"
          });
      });


      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });

      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });

      $count = 2;

      $("#add-expertise").click(function(){
        $expertise = '<div class="col-md-12 no-padding"><div class="col-md-1"><span class="expertise-number">' + $count + '</span></div><div class="col-md-11"><div class="col-md-6"><input type="text" class="form-control" placeholder="Expertise"></div><div class="col-md-6"><input type="text" class="form-control" placeholder="Years of experience"></div><div class="col-md-12"><div id="course-list-'+ $count + '" class="tag-list"></div></div></div></div>'
        $($expertise).insertBefore("#add-expertise-button").hide().fadeIn();
        $(function() {
            $('#course-list-' + $count).tags({
                tagData:[],
                suggestions:[],
                excludeList:[],
                promptText:"Enter course names here"
            });
        });
        $count++;
      });


  </script>
{% endblock %}