{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Register{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

<div class="container-fluid" style="margin-top:70px">
      <div class="row register-container">
        <div class="col-md-12 material-card" style="text-align:center;">
          <div class="col-md-12">
            <h1>Whoops!</h1>
            <p>You cannot access this page now. Please check back at 3PM.</p>
            <a class="btn btn-green margin-top-20" href="">Go Back</a>
          </div>
      </div>
    </div>



    <div id="registered" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body align-center">
            <img src="{% static 'img/tick-icon.png' %}">
            <h3>Registration Successful</h3>
            <p>You have succesfully registered on the DSS System</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
      $(function() {
          $('#course-list').tags({
              tagData:[],
              suggestions:[],
              excludeList:[],
              promptText:"Enter course names here"
          });
      });


      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });

      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });

      $count = 2;

      $("#add-expertise").click(function(){
        $expertise = '<div class="col-md-12 no-padding"><div class="col-md-1"><span class="expertise-number">' + $count + '</span></div><div class="col-md-11"><div class="col-md-6"><input type="text" class="form-control" placeholder="Expertise"></div><div class="col-md-6"><input type="text" class="form-control" placeholder="Years of experience"></div><div class="col-md-12"><div id="course-list-'+ $count + '" class="tag-list"></div></div></div></div>'
        $($expertise).insertBefore("#add-expertise-button").hide().fadeIn();
        $(function() {
            $('#course-list-' + $count).tags({
                tagData:[],
                suggestions:[],
                excludeList:[],
                promptText:"Enter course names here"
            });
        });
        $count++;
      });


  </script>
{% endblock %}