{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Login{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %} 

{% block body %}
  {{ block.super }}

<div class="container-fluid main-area">
      <div class="col-xs-2 side-menu">
        <ul class="menu-eng">
          <li><a href="/dashboard/faculty/"><span class="glyphicon glyphicon-education"></span>Current Sem Courses</a></li>
          <li><a href="/dashboard/faculty/course-cart/"><span class="glyphicon glyphicon-star"></span>My Courses</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/faculty/"><span class="glyphicon glyphicon-education"></span>वर्तमान सेमेस्टर पाठ्यक्रम</a></li>
          <li><a href="/dashboard/faculty/course-cart/"><span class="glyphicon glyphicon-star"></span>मेरे पाठ्यक्रम</a></li>
        </ul>
      </div>
      <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;">
            <div class="col-md-7 col-xs-12"><h3>{{ course.course_name }} - {{ course.course_code }}</h3></div>
            <div class="col-md-5 col-xs-12">
              <div class="icon-container">
                <a href=""><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>

              </div>
            </div>
            <div class="course-details">
              <div class="col-md-12" style="margin-top:12px;">
                  <div class="col-md-2 no-padding">
                    <h5>Experts</h5>
                  </div>
                  <div class="col-md-10">
                    <p>
                    {% for expert in course.experts.all %}
                    	<span class="expertise-tag">{{ expert.first_name }} {{ expert.last_name }}</span>
                    {% endfor %}
                    </p>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-md-2 no-padding">
                    <h5>Description</h5>
                  </div>
                  <div class="col-md-10">
                    <p>{{ course.description }}</p>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-md-2 no-padding">
                    <h5>Classes</h5>
                  </div>
                  <div class="col-md-10">
                  {% for section in sections %}
                    <!-- <label>
                      <input type="checkbox" class="section-checkbox" id="section-{{ forloop.counter }}" name="section">{{ section.section_type }} ({{ section.display_text }})
                    </label> -->
                    <a class="btn btn-green" href="/dashboard/faculty/sections/{{ section.id }}/add/" style="margin-right:10px;box-shadow:0px 0px 0px;">{{ section.section_type }} ({{ section.display_text }})</a>
                  {% endfor %}
                  </div>
              </div>
              <!-- <div class="col-md-12" style="margin-top:20px;">
                <a class="btn btn-green" data-toggle="modal" href="/dashboard/faculty/sections/{{ section.section_id }}/add/" id="add-course">Add to My Courses</a>
              </div> -->
            </div>
          </div>


          <div class="col-xs-12 material-card">
          <div class="col-md-7 col-xs-12"><h3>Previous Assignments</h3></div>
            <div class="col-md-5 col-xs-12">
              <div class="icon-container">
                <a href=""><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>

              </div>
            </div>
            <div class="col-md-12 course-list-table-container" style="overflow-y:auto;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Faculty Assigned</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for faculty in prev_faculty %}
                    <tr>
                      <td>{{ faculty.year }}</td>
                      <td>{{ faculty.user.first_name }} {{ faculty.user.last_name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>

          </div>
      </div>
    </div>









{% endblock %} 


{% block script %}
  {{ block.super }}
    <script src="{% static 'js/jQuery.print.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript">

    section_url$ = ""

    $(".section-checkbox").change(function(){

      console.log(section_url$);
      console.log();
    });


      $("#print-icon-1").click(function(){
        $("#material-card1").print(/*options*/);
      });

      $(document).ready(function() {
	    if (Cookies.get('lang-faculty') == null){
	    	$('#language-selector').modal('show');
	    }
	    else{
	    	if(Cookies.get('lang-faculty') == 'eng'){
	    		$('.menu-hindi').addClass('hide');
	    		$('.menu-eng').removeClass('hide');
	    	}
	    	else{
	    		$('.menu-eng').addClass('hide');
	    		$('.menu-hindi').removeClass('hide');
	    	}
	    }
	  });

	  $('.btn-lang-sel').click(function(){
	  	$('#language-selector').modal('hide');
	  });

	  $("#lang-eng").click(function(){
	  	Cookies.set('lang-faculty', 'eng', { expires: 7 });
	    $('.menu-eng').removeClass('hide');
	    $('.menu-hindi').addClass('hide');
	  });

	  $("#lang-hindi").click(function(){
	  	Cookies.set('lang-faculty', 'hindi', { expires: 7 });
	    $('.menu-hindi').removeClass('hide');
	    $('.menu-eng').addClass('hide');
	  });
    </script>

{% endblock %} 

