{% extends "base.html" %}

{% load set_var %}
{% load staticfiles %}

{% block title %}BITSDSS - {{ course.course_name }} Course Details{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %} 

{% block body %}
  {{ block.super }}

<div class="container-fluid main-area">
      <div class="col-xs-2 side-menu">
        <ul class="menu-eng">
          <li><a href="/dashboard/hod/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/hod/current-courses/"><span class="glyphicon glyphicon-education"></span>Current Sem Courses</a></li>
          <li><a href="/dashboard/hod/course-cart/"><span class="glyphicon glyphicon-star"></span>My Courses</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/hod/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/hod/current-courses/"><span class="glyphicon glyphicon-education"></span>वर्तमान सेमेस्टर पाठ्यक्रम</a></li>
          <li><a href="/dashboard/hod/course-cart/"><span class="glyphicon glyphicon-star"></span>मेरे पाठ्यक्रम</a></li>
        </ul>
      </div>
      <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;">
            <div class="col-md-7 col-xs-12"><h3>{{ course.course_name }} - {{ course.course_code }}</h3></div>
            <div class="col-md-5 col-xs-12">
              <div class="icon-container">
                <a href=""><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>

              </div>
            </div>
            <div class="course-details">
              <div class="col-md-12" style="margin-top:12px;">
                  <div class="col-md-2 no-padding">
                    <h5>Experts</h5>
                  </div>
                  <div class="col-md-10">
                    <p>
                    {% for expert in course.experts.all %}
                    	<span class="expertise-tag">{{ expert.first_name }} {{ expert.last_name }}</span>
                    {% endfor %}
                    </p>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-md-2 no-padding">
                    <h5>Description</h5>
                  </div>
                  <div class="col-md-10">
                    <p>{{ course.description }}</p>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-md-2 no-padding">
                    <h5>Classes</h5>
                  </div>
                  <div class="col-md-10">
                  {% for section in sections %}
                    <!-- <label>
                      <input type="checkbox" class="section-checkbox" id="section-{{ forloop.counter }}" name="section">{{ section.section_type }} ({{ section.display_text }})
                    </label> -->
                    <a class="btn btn-green" href="/sections/{{ section.id }}/add/" style="margin-right:10px;box-shadow:0px 0px 0px;">{{ section.section_type }} ({{ section.display_text }})</a>
                  {% endfor %}
                  </div>
              </div>
              <!-- <div class="col-md-12" style="margin-top:20px;">
                <a class="btn btn-green" data-toggle="modal" href="add/" id="add-course">Add to My Courses</a>
              </div> -->
            </div>
          </div>



          <div class="col-xs-12 material-card">
          <div class="col-md-7 col-xs-12"><h3>Faculty Available</h3></div>
            <div class="col-md-5 col-xs-12">
              <div class="icon-container">
                <a href=""><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>
              </div>
            </div>
             <div class="col-md-12 course-list-table-container" style="overflow-y:auto;">
                <table class="table" id="requests-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Section Type</th>
                      <th>Section</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for application in applications %}
                    <tr id="_{{ forloop.counter }}" class="clickable-row" data-toggle="modal" data-target="#course-request" data-href="#course-request">
                      <input type="hidden" id="first_name__{{ forloop.counter }}" name="variable" value="{{ application.user.first_name }}">
                      <input type="hidden" id="last_name__{{ forloop.counter }}" name="variable" value="{{ application.user.last_name }}">
                      <input type="hidden" id="course_done__{{ forloop.counter }}" name="variable" value="{{ application.user.expertise_set.all }}">
                      <input type="hidden" id="applicationid__{{ forloop.counter }}" name="variable" value="{{ application.id }}">

                      <td>{{ application.user.first_name }} {{ application.user.last_name }} {{ tmp }}</td>
                      <td><span class="class-tag practical-tag">{{ application.section.section_type }}</span></td>
                      <td><span>{{ application.section.display_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

            </div>
          </div>

          


          <div class="col-xs-12 material-card">
          <div class="col-md-7 col-xs-12"><h3>Previous Assignments {{ b }} </h3></div>
            <div class="col-md-5 col-xs-12">
              <div class="icon-container">
                <a href=""><span class="glyphicon glyphicon-print"></span></a>
                <a href="" data-toggle="tooltip" data-placement="left" title="This section lists all the courses offered in the current semester."><span class="glyphicon glyphicon-question-sign"></span></a>

              </div>
            </div>
            <div class="col-md-12 course-list-table-container" style="overflow-y:auto;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Faculty Assigned</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for faculty in prev_faculty %}
                    <tr class="clickable-row" data-toggle="modal" data-target="#course-request" data-href="#course-request">
                      <td>{{ faculty.year }}</td>
                      <td>{{ faculty.user.first_name }} {{ faculty.user.last_name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>

          </div>


      </div>
    </div>






    <div id="course-request" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modal-course-name">Application for {{ course.course_name }}</h4>
          </div>
          <div class="modal-body align-left">
              <div class="col-md-12" style="margin-top:12px;padding:0px;">
                  <div class="col-md-3 no-padding">
                    <p><b>Name</b></p>
                  </div>
                  <div class="col-md-9">
                    <p id="modal-name">
                    </p>
                  </div>
              </div>

              <div class="col-md-12" style="margin-top:12px;padding:0px;">
                  <div class="col-md-3 no-padding">
                    <p><b>Experience</b></p>
                  </div>
                  <div class="col-md-9">
                    <span class="expertise-name"></span><span class="expertise-time-span"></span>
                  </div>
              </div>

            <a class="btn btn-green approve-button" href="">Approve</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %} 


{% block script %}
  {{ block.super }}
    <script src="{% static 'js/jQuery.print.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript">
      $("#print-icon-1").click(function(){
        $("#material-card1").print(/*options*/);
      });


      $(".clickable-row").click(function() {
        $id_tmp = $(this).attr('id').split("_").pop();
        $("#modal-name").text($("#first_name__" + $id_tmp).attr('value') + " " + $("#last_name__" + $id_tmp).attr('value'));

        $str = $("#course_done__" + $id_tmp).attr('value');
        var t1 = $str.substr($str.indexOf("_") + 1);
        var course_name = t1.substr(0, t1.indexOf('_'));
        $(".expertise-name").text(" ");
        var t2 = t1.substr(t1.indexOf("_") + 1);
        var years = t2.substr(0, t2.indexOf('_'));
        $(".expertise-name").text(course_name + " - " + years + " years");
        $(".approve-button").attr('href', "/applications/" + $("#applicationid__" + $id_tmp).attr('value') + "/assign/");
      });


    </script>

{% endblock %} 
