{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Login{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

  <div class="container-fluid main-area">
    <div class="login-container">
      <div class="login-header">
        <h4>Login</h4>
      </div>
      <div class="login-body">
        {% if state %}  
          <div class="alert alert-danger margin-top-20">{{ state }}</div>
        {% endif %}
        <form method="post" action="/login/"> {% csrf_token %}
          <input type="text" name="username" class="form-control" placeholder="Username">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <div class="row">
            <div class="col-xs-6"><label class="remember-me"><input type="checkbox"> Remember Me</label></div>
            <!-- <div class="col-xs-6"><a href="" class="forgot-password">Forgot Password?</a></div>-->
          </div>
          <!-- <a href="FacultyCurrentSemCourses.html" class="btn btn-blue login-btn">Login</a> -->
          <input type="submit" class="btn btn-blue login-btn" value="Login" style="width:100%;" />
        </form>
      </div>
    </div>
    <p class="register-text align-center">Don't have an account? <a href="/register/">Register here</a></p>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
{% endblock %}