{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BITSDSS - Register{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {{ block.super }}

<div class="container-fluid main-area">
    <div class="col-xs-2 side-menu">
      <ul class="menu-eng">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>Department Courses</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>Time Windows</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>Faculty List</a></li>
        </ul>
        <ul class="menu-hindi hide">
          <li><a href="/dashboard/admin/"><span class="glyphicon glyphicon-education"></span>विभाग पाठ्यक्रम</a></li>
          <li><a href="/dashboard/admin/time-windows/"><span class="glyphicon glyphicon-star"></span>समय खिड़कियां</a></li>
          <li><a href="/dashboard/admin/faculty-list/"><span class="glyphicon glyphicon-star"></span>शिक्षक सूची</a></li>
        </ul>
    </div>

    <div class="col-xs-10 content-area">
          <div class="col-xs-12 material-card" style="height:100%;" id="material-card-1">
            <h1>Welcome to BITS-Decision Support System</h1>
            <p>You cannot access this page now. Please check back at 3PM.</p>
            <!-- <a class="btn btn-green margin-top-20" href="/home/">Home</a> -->
          </div>
      </div>

  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
      $(function() {
          $('#course-list').tags({
              tagData:[],
              suggestions:[],
              excludeList:[],
              promptText:"Enter course names here"
          });
      });


      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });

      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });


  </script>
{% endblock %}